section {
  background-image: url('../../assets/2777964d-min.jpg');
  background-size: cover;
  max-height: 569px;
  min-height: 568px;
  height: 568px;
  padding: 120px 100px
}

h1 {
  font-size: 130px;
  font-weight: bold;
}

p {
  font-size: 21px;
}

.pizza {
  background-color: #e19502;
  color: #fff;
  padding: 5px 30px;
  text-shadow: 0px 7px 4px #ca451c;
}

.orange {
  background-color: #ff8000;
  color: #ffff;
  transition: all 0.5s;
}

.orange:hover {
  background-color: #d7720e;
  font-size: 18px;
  color: #ffff;
}
